* text=auto

*.png binary
*.jpg binary

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.js diff=javascript
*.ts diff=typescript

*.neon linguist-language=YAML

/.github export-ignore
/.vscode export-ignore
/website export-ignore
/tests export-ignore
/specs export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
rector.php export-ignore
