# Build
build/
dist/
out/

# Development
/node_modules/
/vendor/
.yarn/*
!.yarn/releases
Homestead.json
Homestead.yaml
*.local

# Environment
.env
.env.backup

# Cache
*.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
error_log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests
/test-results/
/playwright-report/
/playwright/.cache/
